# Active Directory config
DOMAIN='seudominio.com.br'
SERVER='ldaps://dc01.${DOMAIN}'
ADMIN_USER='Administrator@${DOMAIN}'
ADMIN_PASSWORD='SuperSecretPassword@2025'

# CSV list attrs
USER_ATTRS='cn,sn,title,description,physicalDeliveryOfficeName,telephoneNumber,givenName,displayName,department,company,name,sAMAccountName,userPrincipalName,mail,loginShell,memberOf,objectGUID,objectSid'
GROUP_ATTRS='cn,description,name,sAMAccountName,member,objectGUID,objectSid'

# Base search
SEARCH_BASE='DC=seudominio,DC=com,DC=br'
SEARCH_BASE_USER='CN=Users,${SEARCH_BASE}'
SEARCH_BASE_GROUP='CN=Groups,${SEARCH_BASE}'

# Group restrictions
GROUP_REQUIRED='CN=Turma da Monica,${SEARCH_BASE_USER}'
GROUP_DENIED='CN=Disabled,${SEARCH_BASE_GROUP}'

# Get a secure secret key from https://djecrety.ir
SECRET_KEY=5q0t=2gj3*#2vv8z!78i)pziu0nzo*6&l5f9@r0$gr)j5cnh_m

# Set "DEBUG=False" for production
DEBUG=True

# Choose your time_zone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIME_ZONE='America/Campo_Grande'

# Don't use "*" for ALLOWED_HOSTS in production
ALLOWED_HOSTS='${DOMAIN},localhost,*'

# I need understand better
CSRF_TRUSTED_ORIGINS='https://*.${DOMAIN}'

# Database URL:
#   for sqlite3 stay empty (is default)
DATABASE_URL=
#   for postgresql uncomment below e comment above
# DATABASE_URL='postgresql://user:password@localhost:5432/dbname'

# Database environment variables
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=dockerdjango
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432