# Active Directory config
AD_DOMAIN='seudominio.com.br'
AD_SERVER='ldaps://dc01.${AD_DOMAIN}'
AD_ADMIN_USER='Administrator@${AD_DOMAIN}'          # you can use userPrincipalName instead of DN
AD_ADMIN_PASSWORD='SuperSecretPassword@2024'

# CSV list attrs
AD_USER_ATTRS='cn,sn,title,description,physicalDeliveryOfficeName,telephoneNumber,givenName,displayName,department,company,name,sAMAccountName,userPrincipalName,mail,loginShell,memberOf,objectGUID,objectSid'
AD_GROUP_ATTRS='cn,sn,description,name,sAMAccountName,member,objectGUID,objectSid'

# Base search
AD_BASE='DC=seudominio,DC=com,DC=br'
AD_BASE_USER='CN=Users,${AD_BASE}'
AD_BASE_GROUP='CN=Groups,${AD_BASE}'

# Group restrictions
AD_GROUP_REQUIRED='CN=Turma da Monica,${AD_BASE_USER}'
AD_GROUP_DENIED='CN=Disabled,${AD_BASE_GROUP}'

# Get a secure secret key from https://djecrety.ir
SECRET_KEY=5q0t=2gj3*#2vv8z!78i)pziu0nzo*6&l5f9@r0$gr)j5cnh_m

# Set "DEBUG=False" for production
DEBUG=True

# Choose your time_zone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIME_ZONE='America/Campo_Grande'

# Don't use "*" for ALLOWED_HOSTS in production
ALLOWED_HOSTS='${AD_DOMAIN},*'

# I need understand better
CSRF_TRUSTED_ORIGINS='https://,https://*.${AD_DOMAIN}'

# Database URL:
#   for sqlite3 stay empty (is default)
DATABASE_URL=
#   for postgresql uncomment below e comment above
# DATABASE_URL='postgresql://user:password@localhost:5432/dbname'
