{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block subtitle %} - {% trans 'Forgot Your Password Page' %}{% endblock %}

{% block content %}
	<div class="container mt-3">
		<h1 class="display-6">{% trans 'Forgot Your Password Page' %}</h1>
		<hr>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  	</div>

	<form method="post">{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-primary ms-2" type="submit">Send me instructions</button>
	</form>
{% endblock %}
