{% extends 'base.html' %}
{% load i18n %}

{% block subtitle %} - {% trans 'About Page' %}{% endblock %}

{% block content %}
<h1>{% trans 'About Page' %}</h1>
<hr>
<div class="container mt-3 text-bg-light border border-danger rounded-4 shadow-lg">
	<fieldset><legend>Active Directory Settings:</legend>
		<p>Settings of Active Directory are read from <span class="text-bg-danger">.env</span> file at {{ now }}</p>
		<p>Domain Name: {{ ad_domain }}</p>
		<p>Domain Server: {{ ad_server }}</p>
		<p>Domain User Admin: {{ ad_admin_user }}</p>
		<p>Domain User Attrs: {{ ad_user_attrs }}</p>
		<p>Domain Group Attrs: {{ ad_group_attrs }}</p>
	</fieldset>
</div>
{% endblock %}
