{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'About Page' %}{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1>{% trans 'About Page' %}</h1>
	<hr>
  </div>

<div class="container-fluid bg-1 text-center">
	<h2>What is GNU-ADMW?</h2>
	<img src="{% static 'img/active-directory.png' %}" class="img-fluid mx-auto d-block" alt="linux-x-microsoft" width="400">
	<h2>GNU-ADMW is an Active Directory Management Web</h2>
</div>
<hr>
<div class="container mt-3 text-bg-light border border-danger rounded-4 shadow-lg">
	<fieldset><legend>Active Directory Settings:</legend>
		<p>Settings of Active Directory are read from <span class="text-bg-danger">.env</span> file at {{ now }}</p>
		<p>Domain Name: {{ ad_domain }}</p>
		<p>Domain Server: {{ ad_server }}</p>
		<p>Domain User Admin: {{ ad_admin_user }}</p>
		<p>Domain User Attrs: {{ ad_user_attrs }}</p>
		<p>Domain Group Attrs: {{ ad_group_attrs }}</p>
		<p>Domain Group Can Login: {{ ad_group_can_login }}</p>
	</fieldset>
</div>
<div class="container-fluid bg-grey text-center">
	<h2>Our Values</h2>
	<h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
	<p><strong>VISION:</strong> Our vision Lorem ipsum..
</div>

{% endblock %}
