{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Help Page' %}{% endblock %}

{% block content %}
<div class="container mt-3">
	<h1 class="display-6">{% trans 'Help Page' %}</h1>
	<hr>
	<p>It will still be built. Please wait. Be patient...</p>
	<hr>
	<label for="file">Planning in progress:</label>
	<progress id="file" value="32" max="100"> 32% </progress>
	<hr>
	<p>The sound that a horse makes is called a neigh:</p>
	<audio controls>
		<source src="https://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
		<source src="https://www.w3schools.com/tags/horse.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<hr>
	<p>A bear in the river:</p>
	<video width="320" height="240" controls>
		<source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
		<source src="https://www.w3schools.com/tags/movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	</video>
	<hr>
	<p>An image:</p>
	<embed type="image/jpg" src="https://www.w3schools.com/tags/pic_trulli.jpg" width="300" height="200">
	  
</div>
{% endblock %}


