{% extends 'base.html' %}{% load i18n %}{% load static %}
{% block subtitle %} - {% trans 'Help' %}{% endblock %}

{% block content %}
<div class="container mt-3">
	<h1>{% trans 'Help' %}</h1>
	<hr>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="container mt-3">
				<p>It will still be built. Please wait. Be patient...</p>
				<hr>
				<label for="file">Planning in progress:</label>
				<progress id="file" value="32" max="100"> 32% </progress>
				<hr>
				<p>The sound that a horse makes is called a neigh:</p>
				<audio controls>
					<source src="https://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
					<source src="https://www.w3schools.com/tags/horse.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<hr>
				<p>A bear in the river:</p>
				<video width="320" height="240" controls>
					<source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
					<source src="https://www.w3schools.com/tags/movie.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>
				<hr>
				<p>An image:</p>
				<embed type="image/jpg" src="https://www.w3schools.com/tags/pic_trulli.jpg" width="300" height="200">
			</div>
		</div>

		<div class="col">
			<div class="container mt-3">
				<h2>Usefull Links For Developers</h2>
				<ul>
					<li><a href="https://www.w3schools.com/" target="_blank">W3Schools.com</a></li>
					<li><a href="https://www.w3schools.com/icons/default.asp" target="_blank">Icons</a></li>
					<li><a href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3.CSS</a></li>
					<li><a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank">HTML5</a></li>
					<li><a href="https://www.w3schools.com/css/css3_intro.asp" target="_blank">CSS3</a></li>
					<li><a href="https://getbootstrap.com/" target="_blank">Bootstrap.com</a></li>
					<li><a href="https://fontawesome.com/" target="_blank">Font Awesome</a></li>
				</ul>
				<hr>
				<h2>Usefull Links For Django Users</h2>
				<ul>
					<li><a href="https://www.cloudwithdjango.com/django-adding-icons-to-our-project/" target="_blank">Django: Adding icons to our project</a></li>
					<li><a href="https://fontawesome.com/v4/icons/" target="_blank">Choose Your Icons - <i class="fa fa-search-plus fa-2x"></i></a></li>
				</ul>
				<i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
				<span class="fa-stack fa-5x">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
				  </span>
				  fa-terminal on fa-square

			</div>
		</div>
	</div>
</div>
{% endblock %}


