{% extends 'base.html' %}
{% load i18n %}

{% block subtitle %} - {% trans 'Home Page' %}{% endblock %}

{% block content %}
	<h1>{% trans 'Home Page' %}</h1>
	<hr>
	<h2>Below are used some variables:</h2>
	<p><code>{ % get_current_language as LANGUAGE_CODE % }</code></p>
	<p><code>{ % get_available_languages as LANGUAGES % }</code></p>
	{% get_current_language as LANGUAGE_CODE %}
	{% get_available_languages as LANGUAGES %}
	<h2>Available languages: {{ LANGUAGES }}</h2>
	<h2>Current language: {{ LANGUAGE_CODE }}</h2>
{% endblock %}
