{% extends 'base.html' %}{% load i18n %}{% load static %}
{% block subtitle %} - {% trans 'Logout' %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>{% trans 'Logout' %}</h1s=>
    <hr>
</div>

<div class="container text-center">
    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
        <p>{% trans "Are you sure you want to log out?" %}</p>
        <button type="submit" class="btn btn-warning ms-2"><i class="fa fa-fw fa-power-off"></i> Confirm Log Out</button>
    </form>
</div>

{% endblock %}
