{% extends 'base.html' %}
{% load i18n %}

{% block subtitle %} - {% trans 'Logout Page' %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans 'Logout Page' %}</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="#{ % url "account_logout" %}">
				{% csrf_token %} 
                <legend>{% trans "Log out" %}</legend>
                <fieldset>
                    <p>{% trans "Are you sure you want to log out?" %}</p>
                    <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
                </fieldset>
            </form>
        </div>
    </div>	
{% endblock %}
