{% extends 'base.html' %}{% load i18n %}{% load static %}
{% block subtitle %} - {% trans 'User Detail' %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>{% trans 'User Detail' %}</h1>
    <div class="card">
        <div class="card-header bg-primary text-white mx-auto">
            {{ object.sAMAccountName }} - {{ object.cn }} - {{ object.mail }}
        </div>
        <div class="card-body bg-light text-dark">

            <fieldset class="border rounded-3 p-3">
                <legend class="bg-primary text-white text-center">{{ object.sAMAccountName }}</legend>

                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="mb-3">
                            <label for="givenName" class="form-label">First name:</label>
                            <input type="text" class="form-control" id="givenName" name="givenName" value="{{ object.givenName }}">
                        </div>
                        <div class="mb-3">
                            <label for="sn" class="form-label">Last name:</label>
                            <input type="text" class="form-control" id="sn" name="sn" value="{{ object.sn }}">
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="mail" name="mail" value="{{ object.mail }}">
                        </div>
                        company: {{ object.company }} <hr>
                        department: {{ object.department }} <hr>
                        telephoneNumber: {{ object.telephoneNumber }} <hr>
                        cn: {{ object.cn }} <hr>
                        name: {{ object.name }} <hr>
                        title: {{ object.title }} <hr>
                        description: {{ object.description }} <hr>
                        physicalDeliveryOfficeName: {{ object.physicalDeliveryOfficeName }} <hr>
                        displayName: {{ object.displayName }} <hr>
                        sAMAccountName: {{ object.sAMAccountName }} <hr>
                        userPrincipalName: {{ object.userPrincipalName }} <hr>
                    </div>

                    <div class="tab-pane" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <label for="group1" class="form-label">MemberOf (hold shift to select more than one):</label>
                        <select multiple name="group1" class="form-select" id="group1" size="15" >
                            {% for group in object.memberOf %}
                            <option>{{ group }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="tab-pane" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        contact-tab...
                    </div>

                    <div class="tab-pane" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
                        disabled-tab...
                    </div>
                </div>

                <hr>

                <div class="row g-3">
                    <div class="col-md-6">

                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="birthday" class="form-label">Birthday:</label>
                            <input type="date" class="form-control" id="birthday" name="birthday">
                        </div>
            
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div> 
        <div class="card-footer bg-secondary text-white">
            Footer
        </div>
    </div>
</div>
{% endblock %}
