{% extends 'base.html' %}{% load i18n %}{% load static %}
{% block subtitle %} - {% trans 'User Detail' %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>{% trans 'User Detail' %}</h1>

    <div class="card">

        <div class="card-header text-bg-warning text-center">
            <strong>Attention:</strong> All changes will be logged and auditable.
        </div>

        <div class="card-body text-bg-light">

            <fieldset class="border rounded-3 p-3">
                <legend class="bg-primary text-white text-center"><i class="fa fa-solid fa-user" style="color: #FFD43B;"></i> {{ object.sAMAccountName }}</legend>

                <!-- TAB index -->
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">General</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="member-tab" data-bs-toggle="tab" data-bs-target="#member-tab-pane" type="button" role="tab" aria-controls="member-tab-pane" aria-selected="false">Groups</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address-tab-pane" type="button" role="tab" aria-controls="address-tab-pane" aria-selected="false">Address</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-tab-pane" type="button" role="tab" aria-controls="account-tab-pane" aria-selected="false">Account</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">

                    <!-- TAB general -->
                    <div class="tab-pane show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">

                        <div class="row">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="givenName" class="form-label">First name:</label>
                                    <input type="text" class="form-control" id="givenName" name="givenName" value="{{ object.givenName }}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="sn" class="form-label">Last name:</label>
                                    <input type="text" class="form-control" id="sn" name="sn" value="{{ object.sn }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="initials" class="form-label">Initials:</label>
                                    <input type="text" class="form-control" id="initials" name="initials" value="{{ object.initials }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title:</label>
                                    <input type="text" class="form-control" id="title" name="title" value="{{ object.title }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="displayName" class="form-label">Display Name:</label>
                                    <input type="text" class="form-control" id="displayName" name="displayName" value="{{ object.displayName }}">
                                </div>
                            </div>
                            <!-- <div class="col">
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description:</label>
                                    <input type="text" class="form-control" id="description" name="description" value="{{ object.description }}">
                                </div>
                            </div> -->
                            <div class="col">
                                <div class="mb-3">
                                    <label for="physicalDeliveryOfficeName" class="form-label">Office:</label>
                                    <input type="text" class="form-control" id="physicalDeliveryOfficeName" name="physicalDeliveryOfficeName" value="{{ object.physicalDeliveryOfficeName }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="telephoneNumber" class="form-label">Telefone Number:</label>
                                    <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber" value="{{ object.telephoneNumber }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="mail" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="mail" name="mail" value="{{ object.mail }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="employeeNumber" class="form-label">Employee Number:</label>
                                    <input type="text" class="form-control" id="employeeNumber" name="employeeNumber" value="{{ object.employeeNumber }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="employeeType" class="form-label">Employee Type:</label>
                                    <input type="text" class="form-control" id="employeeType" name="employeeType" value="{{ object.employeeType }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="company" class="form-label">Company:</label>
                                    <input type="text" class="form-control" id="company" name="company" value="{{ object.company }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="department" class="form-label">Department:</label>
                                    <input type="text" class="form-control" id="department" name="department" value="{{ object.department }}">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="info" class="form-label">Notes:</label>
                            <textarea class="form-control" name="info" id="info" rows="3">{{ object.info }}</textarea>
                        </div>
                    </div>

                    <!-- TAB Member -->
                    <div class="tab-pane" id="member-tab-pane" role="tabpanel" aria-labelledby="member-tab" tabindex="0">

                        <div class="row">
                            <div class="col">
                                <label for="group1" class="form-label">Groups (hold shift to select more than one):</label>
                                <select multiple name="group1" class="form-select" id="group1" size="15" >
                                    {% for group in object.memberOf %}
                                    <option>{{ group }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <label for="group1" class="form-label">Other Groups:</label>
                                <select multiple name="group2" class="form-select" id="group2" size="15" >
                                    {% for group in object.memberOf %}
                                    <option>{{ group }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                    </div>

                    <!-- TAB Address -->
                    <div class="tab-pane" id="address-tab-pane" role="tabpanel" aria-labelledby="address-tab" tabindex="0">

                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Street Address:</label>
                            <textarea class="form-control" name="streetAddress" id="streetAddress" rows="5">{{ object.streetAddress }}</textarea>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="l" class="form-label">City:</label>
                                    <input type="text" class="form-control" id="l" name="l" value="{{ object.l }}">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <label for="st" class="form-label">State:</label>
                                    <input type="text" class="form-control" id="st" name="st" value="{{ object.st }}">
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="mb-3">
                                    <label for="c" class="form-label">Country:</label>
                                    <input type="text" class="form-control" id="c" name="c" value="{{ object.c }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <div class="mb-3">
                                    <label for="postalCode" class="form-label">Postal code:</label>
                                    <input type="text" class="form-control" id="postalCode" name="postalCode" value="{{ object.postalCode }}">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <label for="postOfficeBox" class="form-label">P.O.Box:</label>
                                    <input type="text" class="form-control" id="postOfficeBox" name="postOfficeBox" value="{{ object.postOfficeBox }}">
                                </div>
                            </div>
                        </div>                    

                    </div>

                    <!-- TAB Account -->
                    <div class="tab-pane" id="account-tab-pane" role="tabpanel" aria-labelledby="account-tab" tabindex="0">

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="userPrincipalName" class="form-label">User logon name:</label>
                                    <input type="text" class="form-control" id="userPrincipalName" name="userPrincipalName" value="{{ object.userPrincipalName }}" disabled>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="sAMAccountName" class="form-label">User logon name(pre-Windows 2000):</label>
                                    <input type="text" class="form-control" id="sAMAccountName" name="sAMAccountName" value="{{ object.sAMAccountName }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="cn" class="form-label">Comom Name:</label>
                                    <input type="text" class="form-control" id="cn" name="cn" value="{{ object.cn }}" disabled>
                                </div>
                            </div>    
                            <div class="col">
                                <div class="mb-3">
                                    <label for="accountExpires" class="form-label">Account Expires:</label>
                                    <input type="text" class="form-control" id="accountExpires" name="accountExpires" value="{{ object.accountExpires }}" disabled>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>

            </fieldset>
    
        </div>

        <div class="card-footer text-bg-danger text-center">
            Before saving, make sure that all the fields are filled correctly.
        </div>

    </div>
    <div class="container m-3 text-center">
        <input type="submit" class="btn btn-success" value="Save">
        <input type="submit" class="btn btn-warning" value="Cancel">
    </div>
</div>
{% endblock %}
